/*-------------------------all pages--------------------*/
*{
    color: #fff;

}

body{
    background-color: #343434;
}

header, footer, .jumbotron{
    background-color: #000;
}

.nav-bgc-font-size{
    background-color: #f47524;
    font-size: 1.4em;
}

.navbar{
    height: 2em;
}

.navbar-custom-xs{
    color: #343434;
}

main{
    background-color: #343434;
}

footer{
    font-size: 1.5em;
}

.logo-facbook{
    background-color: #f47524;
    font-size: 1.5em;
}

.nav-link{
     color: white;
}

.active{
    color:#000;
    font-weight: 700;
}

.nav-link:hover{
    color: black;
    font-weight: bold;
}

.list-unstyled{
    font-size: 0.5em;
}

.footer-list{
    display: flex;
}

.border-openingsuren{
    border-bottom: 0.1em dotted;
}

.border-contact{
    display: flex;
}

.footer-icon, .border-contact .fas{
    color: #f47524;
}

.contact-icon{
    font-size: 0.5em;
}


/*-------------------------home page--------------------*/
.card-spacing{
    display: flex;
}

.main-body-cards{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.main-body{
    background-color: #000;
    color: #f47524;
}

.border-cards{
    border-bottom: 0.2em dotted #343434;
}

.main-body, h5{
    font-size: 1.2em;
}

.card-text-font-size{
    font-size: 0.7em;
}

.cards-icons{
    background-color: #f47524;
    font-size: 1.3em;
}

.padding-x-euro-icons{
    padding:0.7em;
}


/*-------------------------menu page--------------------*/
.bgc-orange{
    background-color: #f47524;
}

.text-orange{
    color: #f47524;
}

.text-grey{
    color:  #343434;
}

.main-border-bottom{
    border-bottom: 0.2em dotted #f47524;
}

.main-icon{
    font-size: 3em;
    background-color: #f47524;
    margin-left: 0.2em;
}

.list-group-bgc{
    background-color: #000;
}

.menu-bgc{
    background-color: #000;
    color: #f47524;
}

.list-group .fa-euro-sign{
    color: #343434;
}

.menu-bgc .fa-exclamation-circle{
    color: #f47524
}

.list-font-size{
    font-size: 0.8em;
}

.menu-radius-links .menu-radius-rechts{
    border: 1px solid #000;
}


/*-------------------------foto's--------------------*/



/*-------------------------restaurant--------------------*/
.btn-restaurant{
    border: 1px solid #000;
    border-radius: 2em;
}

.btn-restaurant:hover{
    background-color: #f47524;
    border-color: #f47524;
    color: #000;
    font-weight: 600;
}

.px-5-bree{
    padding: 0 3.7em;
}

.restaurant-icon{
    font-size: 2em;
}

.restaurant-text-location{
    font-size: 1.2em;
    font-weight: 600;
}

.restaurant-text-hours{
    font-size: 1.5em;
}

/*-------------------------contact--------------------*/
.main-border-bottom{
    border-bottom: 0.2em dotted #f47524;
}

.text-grey{
    color: #343434;
}

.send-arrow{
    font-size: 2.5em;
    color: #f47524;
}

.form-bgc{
    background-color: #000;
}


/*------------------------- Mobile -------------------------*/
@media only screen and (max-width: 576px) {
    nav{
        z-index: 99;
    }
    .logo-fritketel{
        width: 100vw;
    }
    .test{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .border-contact{
        border-top: 0.2em dotted #343434;
        margin-top: 1em;
        padding-top: 1em;
    }
    .nav-item > a{
        background-color: #f47524;
    }
    .margin-footer-xs{
        padding: 1em 0;
    }
    .footer-contact-foto{
        width: 100%;
    }
    .footer-mobile-flex{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .sauzen-desktop{
        display: none;
    }
    .menu-border{
        margin-top: 0;
        padding-top: 0;
    }
    .menu-radius-links{
        border-radius: 2em 2em 0 0;
    }
    .menu-radius-rechts{
        border-radius: 0 0 2em 2em;
    }
    .navbar-hamburger-size{
        font-size: 1.3em;
    }
    .restaurant-border-info-top{
        border-radius: 0 0 0 0;
    }
    .googlemaps-size{
        width: 100vw;
    }
    .restaurant-border-map{
        padding-left: 0;
        padding-right: 0;
    }
    .contact-padding-mobile{
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .foto-width{
        width: 235px;
        height: 157px;
    }
    .foto-bgc{
        background-color: #000;
        margin-left: 0;
        margin-right: 0;
        border-radius: 2em;
    }
}


/*------------------------- Desktop -------------------------*/
@media only screen and (min-width:577px){
    .logo-fritketel{
        width: 50%;
    }
    .border-contact{
        border-left: 0.2em dotted #343434;
    }
    .menu-radius-links{
        border-radius: 2em 0 0 2em;
    }   
    .menu-radius-rechts{
        border-radius: 0 2em 2em 0;
    }
    .marge-top{
        margin-top: 3em;
    }
    .footer-contact-foto{
        width: 50%;
    }
    .sauzen-mobile{
        display: none;
    }
    .menu-border{
        border-left: 0.2em dotted #343434;
    }
    .restaurant-border-info-top{
        border-radius: 2em 2em 0 0;
    }
    .googlemaps-size{
        width: 1100px;
        height: 375px;
    }
    .restaurant-border-map{
        border-radius: 2em;
    }
    .foto-bgc{
        background-color: #000;
        border-radius: 2em;
    }
}